In [22]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="root", password="Password123@")

In [31]:
cursor = connection.cursor()
db=""" USE `db-capstone-project.`;"""
cursor.execute(db)

In [36]:
tab="""show tables;"""
cursor.execute(tab) 
result=cursor.fetchall()
for x in result: 
    print(x)

('address',)
('booking',)
('customer',)
('delivery_status',)
('menu',)
('menu_category',)
('orders',)
('ordersview',)
('staff',)

In [30]:
task3= """SELECT CONCAT(c.first_name, " ", c.last_name) AS Fullname, 
       c.phone, 
       a.street,
       a.city,
       a.state,
       a.zipcode
FROM address AS a 
JOIN customer AS c ON a.idAddress = c.addressid 
JOIN orders AS o ON c.customerid = o.customerid
GROUP BY Fullname, c.phone, a.street, a.city, a.state, a.zipcode
HAVING SUM(o.TotalCost) > 60;
"""
cursor.execute(task3)
result=cursor.fetchall()
col=cursor.column_names
print(col)
for x in result: 
    print(x)

('Fullname', 'phone', 'street', 'city', 'state', 'zipcode')
('sasi k', 987465321, '18 joyner ct', 'trenton', 'NJ', 8648)